body{
    background-color: #364156;
}

.searchdiv{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    ul{
        padding-left: 0;
    }
}

.searchbar{
    width: 600px;
    height: 50px;
    border-radius: 24px;
    background-color: #CDCDCD;
}

.popular_tag{
    width: 150px;
    height: 50px;;
    list-style: none;
    filter: drop-shadow(3px 3px 3pxx#000);

    a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: aqua;
    border-radius: 32px;
    width: 100%;
    height: 100%;
    }
}

.tagul{
    width: 100%;
    justify-content: space-around;
}

.pop_title{
    color: #BCF0D5
}

.pop_card{
    width: 75%;
    height: 100px;
    border-radius: 24px;
}

.column{
    flex-direction: column;
    gap: 1rem 0;
    justify-content: center;
    align-items: center;
}

.card-body{
    display: flex;

    .card-left{
        width: 20%;
    }
}